@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

@-webkit-keyframes marquee {
  0% {
    translate: 0;
  }
  100% {
    translate: calc(-100% - 14px);
  }
}

@keyframes marquee {
  0% {
    translate: 0;
  }
  100% {
    translate: calc(-100% - 14px);
  }
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 700;
}

.header {
  width: 100%;
  padding: 13px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  font-family: "Roboto", sans-serif;
}
.header__ttlbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__ttl {
  font-size: 24px;
  font-weight: 700;
}
.header__ttl span {
  color: #A5A5A5;
}
.header__txt {
  font-size: 12px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__txt::before {
  content: "";
  margin-right: 15px;
  display: block;
  width: 1px;
  height: 21px;
  background: #A5A5A5;
}

.btn {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background: #000;
  cursor: pointer;
}
.btn__top {
  width: 40%;
  height: 1px;
  background: #fff;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}
.btn__middle {
  width: 40%;
  height: 1px;
  background: #fff;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.btn__bottom {
  width: 40%;
  height: 1px;
  background: #fff;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.gnav {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  pointer-events: none;
}
.gnav__nav {
  padding-top: 50px;
  font-family: "Roboto", sans-serif;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.gnav__list {
  margin-bottom: 60px;
  list-style-type: none;
  font-size: 34px;
  font-weight: 700;
}
.gnav__link {
  display: block;
  width: 200px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  position: relative;
}
.gnav__link span {
  position: absolute;
  bottom: -14px;
  font-size: 14px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

#top .mv {
  width: 100%;
  height: 100vh;
  padding-top: 140px;
  position: relative;
  z-index: -1;
  pointer-events: none;
}
#top .mv__wrap {
  position: fixed;
}
#top .mv__ttl {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
#top .mv__ttl span {
  font-family: "EB Garamond", serif;
  color: #A5A5A5;
}
#top .mv__txt {
  font-size: 16px;
  font-weight: 700;
  line-height: 2.5;
}
#top .mv__txt.fade-out {
  opacity: 0;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}
#top .mvcover {
  padding-top: 100px;
  height: 100vh;
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(6.5px);
          backdrop-filter: blur(6.5px);
  border-radius: 10px;
}
#top .mvcover__scrollarrow {
  position: absolute;
  top: -160px;
  left: 50%;
}
#top .mvcover__scrollarrow span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  position: relative;
  width: 1px;
  height: 100px;
  background: #000;
}
#top .mvcover__scrollarrow span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 0;
  height: 0;
  border-top: 10px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
#top .mvcover__scrollarrow::after {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: -49.5px;
  background: url(../../images/top/loading-icon-sp.png) center center/cover;
  -webkit-animation: rotation 6s linear infinite;
          animation: rotation 6s linear infinite;
}
#top .mvcover__txtbox {
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
}
#top .mvcover__txt {
  margin-bottom: 40px;
}
#top .works, #top .skill {
  padding: 80px 20px;
  width: 100%;
  background: #000;
  color: #fff;
}
#top .works__scroll-list {
  list-style-type: none;
}
#top .works__ttl {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-bottom: 4px;
  color: #fff;
}
#top .works__ttl-jp {
  font-size: 16px;
  margin-bottom: 50px;
  color: #fff;
}
#top .works__txt, #top .skill__txt {
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 2;
}
#top .works__btn {
  margin-bottom: 60px;
  background: #fff;
  text-align: center;
  position: relative;
}
#top .works__link {
  display: block;
  padding: 17px;
  color: #000;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
#top .works__scroll-item {
  position: relative;
  margin-bottom: 180px;
}
#top .works__scroll-item:last-child {
  margin-bottom: 120px;
}
#top .works__scroll-link {
  display: block;
}
#top .works__scroll-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#top .works__scroll-txtbox {
  padding-left: 20px;
  position: absolute;
  bottom: -80%;
  left: 0;
  border-left: 1px solid #fff;
}
#top .works__scroll-num {
  font-size: 40px;
  margin-bottom: 40px;
}
#top .works__scroll-dl dt {
  font-size: 20px;
  margin-bottom: 30px;
}
#top .works__scroll-dl dt:first-child + dd {
  font-size: 16px;
  margin-bottom: 5px;
}
#top .works__scroll-dl dd:last-child {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
#top .looptxt {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
#top .looptxt__marquee {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  gap: 14px;
  font-size: 18px;
}
#top .looptxt__marquee-inner {
  -webkit-animation: marquee 20s linear infinite;
          animation: marquee 20s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#top .looptxt__marquee-img01, #top .looptxt__marquee-img07, #top .looptxt__marquee-img06, #top .looptxt__marquee-img05, #top .looptxt__marquee-img04, #top .looptxt__marquee-img03, #top .looptxt__marquee-img02 {
  margin: 0 10px;
  display: inline-block;
  width: 100px;
  height: 32px;
  background: url(../../images/top/img10-sp.jpg) center center/cover;
}
#top .looptxt__marquee-img02 {
  background: url(../../images/top/img11-sp.jpg) center center/cover;
}
#top .looptxt__marquee-img03 {
  background: url(../../images/top/img12-sp.jpg) center center/cover;
}
#top .looptxt__marquee-img04 {
  background: url(../../images/top/img13-sp.jpg) center center/cover;
}
#top .looptxt__marquee-img05 {
  background: url(../../images/top/img14-sp.jpg) center center/cover;
}
#top .looptxt__marquee-img06 {
  background: url(../../images/top/img15-sp.jpg) center center/cover;
}
#top .looptxt__marquee-img07 {
  background: url(../../images/top/img16-sp.jpg) center center/cover;
}
#top .looptxt__marquee-graycolor {
  color: #A5A5A5;
}
#top .skill__ttl {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-bottom: 4px;
  color: #fff;
}
#top .skill__ttl-jp {
  font-size: 16px;
  margin-bottom: 50px;
  color: #fff;
}
#top .skill__txt {
  position: relative;
}
#top .skill__txt::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -60px;
  background: #fff;
}
#top .skill__filter {
  width: 90%;
  padding: 60px 0;
  margin: 0 auto;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#top .skill__filter li {
  cursor: pointer;
  list-style-type: none;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 600;
}
#top .skill__filter .is-active {
  border-bottom: 2px solid #fff;
  font-size: 18px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#top .skill__category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#top .skill__category li {
  list-style-type: none;
  margin-bottom: 20px;
  display: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-align: center;
}
#top .skill__category li:before {
  content: "";
  width: 30%;
  display: block;
  background: #55a74d;
}
#top .skill__category li.is-show {
  display: block;
}

#allworks {
  counter-reset: mycounter;
}

#top .rotate-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#top .hide-middle {
  opacity: 0;
}
#top .rotate-bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#top .gnav-active {
  opacity: 1;
  pointer-events: auto;
}
#top .gnav__nav-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

body.menu-open {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}