//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    position: relative;

    &__arrow {
        position: absolute;
        top: 120px;
        left: 50%;

        @include pc {
            top: 230px;
        }

        & span {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            position: relative;
            width: 1px;
            height: 100px;
            background: $black;

            @include pc {
                height: 240px;
            }

            &::before {
                content: "";
                position: absolute;
                top: -1px;
                left: -4.5px;
                width: 0;
                height: 0;
                border-bottom: 10px solid $black;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
            }
        }

        &::after {
            content: "";
            display: block;
            width: 100px;
            height: 100px;
            position: absolute;
            top: -50%;
            left: -49.5px;
            background: url(../../images/top/totop-icon-sp.png) center center / cover;
            animation: rotation 6s linear infinite;

            @include pc {
                width: 120px;
                height: 120px;
                top: -25%;
                left: -60px;
                background: url(../images/top/totop-icon-pc.png) center center / cover;
            }
        }
    }

    &__box {
        position: absolute;
        bottom: -80px;
        width: 100%;

        @include pc {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__prev {
        display: inline-block;
        position: relative;
        transform-origin: left bottom;
        transform: rotate(-90deg) translateY(50px);

        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            position: absolute;
            top: 14px;
            left: 40px;
            width: 1px;
            height: 24px;
            background: $white;

            @include tab {
                height: 60px;
            }

            &::after {
                content: "";
                display: block;
                height: 0;
                width: 0;
                position: absolute;
                left: 0;
                top: -4px;
                border-right: 4px solid transparent;
                border-bottom: 8px solid $white;
            }
        }
    }

    &__next {
        display: inline-block;
        position: relative;
        transform-origin: right top;
        transform: rotate(90deg) translateY(-121px);

        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            position: absolute;
            bottom: 14px;
            left: 40px;
            width: 1px;
            height: 24px;
            background: $white;

            @include tab {
                height: 60px;
            }

            &::after {
                content: "";
                display: block;
                height: 0;
                width: 0;
                position: absolute;
                right: 0;
                top: -4px;
                border-left: 4px solid transparent;
                border-bottom: 8px solid $white;
            }
        }
    }

    &__link {
        display: block;
        padding: 17px;
        width: 220px;
        background: $black;
        color: $white;
        text-decoration: none;
        text-align: center;
        font-family: $roboto;
        font-weight: 400;
    }

    &__copy {
        padding-top: 280px;
        margin-bottom: 40px;
        text-align: center;
        font-family: $roboto;
        font-size: 12px;
        letter-spacing: 0.1em;

        @include pc {
            padding-top: 560px;
        }
    }
}