//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;


.header {
    width: 100%;
    padding: 13px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    font-family: $roboto;

    @include pc {
        padding: 29px 40px;
    }
    
    &__wrap {
        @include pc {

        }
    }

    &__ttlbox {
        display: flex;
        align-items: center;
        transition: 0.3s;
    }

    &__ttl {
        font-size: 24px;
        font-weight: 700;

        @include pc {
            font-size: 32px;
        }
    }

    &__pic {
        width: 28px;
        height: 28px;
        margin-bottom: 2px;

        @include pc {
            width: 40px;
            height: 40px;
            margin-bottom: 4px;
        }
    }

    &__img {
        @include img;
    }


    &__txt {
        font-size: 12px;
        margin-left: 15px;
        display: flex;
        align-items: center;

        @include pc {
            font-size: 20px;
            margin-left: 27px;
        }

        &::before {
            content: "";
            margin-right: 15px;
            display: block;
            width: 1px;
            height: 21px;
            background: $gray;

            @include pc {
                margin-right: 27px;
                height: 42px;
            }
        }
    }
}