//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;


.header {
    width: 100%;
    padding: 13px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    font-family: $roboto;


    &__ttlbox {
        display: flex;
    }

    &__ttl {
        font-size: 24px;
        font-weight: 700;

        & span {
            color: $gray;
        }
    }

    &__txt {
        font-size: 12px;
        margin-left: 15px;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            margin-right: 15px;
            display: block;
            width: 1px;
            height: 21px;
            background: $gray;
        }
    }
}