//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background: $black;
    cursor: pointer;

    @include pc {
        width: 100px;
        height: 100px;
    }

    &__top {
        @include btn(-6px);

        @include pc {
            @include btn(-10px);
        }
    }

    &__middle {
        @include btn;
    }

    &__bottom {
        @include btn(6px);

        @include pc {
            @include btn(10px);
        }
    }
}

.gnav {
    width: 100%;
    height: 100vh;
    padding: 0 40px;
    background: $black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: all 0.4s;
    pointer-events: none;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    @include tab {
        padding: 0 80px;
    }

    @include pc {
        padding: 0 240px;
        display: flex;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &::before {
        content: "";
        position: absolute;
        top: 50px;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background: $translucent-white;

        @include pc {
            width: 1px;
            height: 100%;
            top: 0;
            left: 320px;
        }
    }

    &__ttlbox {
        padding: 15px 0;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        @include pc {
            top: 50%;
            left: 40px;
            transform: translateX(0);
        }
    }

    &__pic {
        width: 28px;
        height: 28px;
        margin-bottom: 2px;

        @include pc {
            width: 40px;
            height: 40px;
            margin-bottom: 4px;
        }
    }

    &__img {
        @include img;
    }

    &__ttl {
        text-align: center;
        font-size: 24px;
        font-family: $roboto;
        color: $white;

        @include pc {
            font-size: 32px;
            top: 50%;
            left: 40px;
            transform: translateX(0%);
        }
    }

    &__nav {
        padding-top: 80px;
        font-family: $roboto;
        transform: translateY(-50px);
        transition: all 0.5s;

        @include tab {
            padding-top: 130px;
        }

        @include pc {
            padding-top: 0;
            padding-left: 160px;
        }

    }

    &__list--01 {
        margin-bottom: 8.5vw;
        font-size: clamp(20px, 9vw, 34px);
        font-weight: 700;
        list-style-type: none;

        @include tab {
            margin-bottom: 5.2vw;
        }

        @include pc {
            margin-bottom: 2.1vw;
            font-size: clamp(40px, 3vw, 56px);
        }
    }

    &__list--02 {
        margin-left: 50px;
        margin-bottom: 5vw;
        font-size: clamp(16px, 5.3vw, 20px);
        font-weight: 700;
        list-style-type: none;
        position: relative;

        @include tab {
            margin-bottom: 1.8vw;
        }

        @include pc {
            margin-left: 100px;
            margin-bottom: 1vw;
            font-size: clamp(30px, 2vw, 40px);
        }

        &::before {
            content: "";
            width: 40px;
            height: 1px;
            display: block;
            position: absolute;
            top: 50%;
            left: -40px;
            background: $white;

            @include pc {
                width: 80px;
                left: -90px;
            }
        }
    }

    &__link {
        display: block;
        width: 60%;
        padding: 10px;
        text-decoration: none;
        color: $white;
        position: relative;

        @include tab {
            width: 40%;
        }

        @include pc {
            width: 100%;
        }

        & span {
            position: absolute;
            bottom: -14px;
            font-size: 14px;
            font-family: $JP;
        }
    }

}

.gnav::-webkit-scrollbar {
    display: none;
}