//色に関する変数を登録します
$text-black-color: #000;
$text-white-color: #fff;
$gray-color: #eae9e7;
$main-color: #0085ff;
$accent-color: #d0ed59;
$pale-gray-color: #f5f4f4;
$pale-yellow-color: #d9f07e;
$pale-blue-color: #62abee;
