//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#thanks {

    .wrapper {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .thx {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        &__logo {
            width: 50%;
            height: 50%;
            margin: 0 auto;

            @include tab {

            }

            @include pc {
                width: 400px;
                height: 400px;
            }
        }

        &__img {
            @include img;
        }

        &__txt {
            font-family: $roboto;
            font-size: 60px;
            font-weight: 900;
            margin-bottom: 40px;

            @include tab {

            }

            @include pc {
                font-size: 120px;
            }

            span {
                font-family: $EBGaramond;
                color: $gray;
            }
        }

        &__txt-jp {
            font-size: 16px;
            margin-bottom: 80px;

            @include tab {

            }

            @include pc {
                font-size: 20px;
            }
        }

        &__link {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: $black;
            font-family: $roboto;
        }
    }




}