//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

#top {

    .mv {
        width: 100%;
        height: 100vh;
        padding-top: 140px;
        position: relative;
        z-index: -1;
        pointer-events: none;

        @include pc {
            padding-top: 240px;
        }

        &__wrap {
            position: fixed;
            padding: 0 20px;

            @include tab {
                padding: 0 80px;
            }

            @include pc {
                padding: 0 0 0 160px;
            }

            @include macpc {
                padding: 0 0 0 320px;
            }
        }

        &__ttl {
            margin-bottom: 20px;
            font-family: $roboto;
            font-size: 40px;
            font-weight: 900;
            line-height: 1;

            @include tab {
                font-size: 80px;
            }

            @include pc {
                font-size: 100px;
            }

            @include macpc {
                font-size: 180px;
            }

            & span {
                font-family: $EBGaramond;
                color: $gray;
            }
        }

        &__txt {
            font-size: 16px;
            font-weight: 700;
            line-height: 2.5;

            @include tab {
                font-size: 30px;
            }

            @include pc {
                font-size: 34px;
            }
        }

        &__txt.fade-out {
            opacity: 0;
            transition: opacity 1s ease-out;
        }

    }

    .mvcover {
        padding: 100px 20px;
        height: 100%;
        position: relative;
        z-index: 1;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(6.5px);
        border-radius: 10px;

        @include tab {
            padding: 100px 80px;
        }

        @include pc {
            padding: 200px 160px;
        }

        @include macpc {
            padding: 200px 320px;
        }

        &__scrollarrow {
            position: absolute;
            top: -35%;
            left: 50%;

            @include pc {
                top: -30%;
                left: auto;
                right: 160px;
            }

            @include macpc {
                right: 320px;
            }

            & span {
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
                position: relative;
                width: 1px;
                height: 100px;
                background: $black;

                @include pc {
                    height: 240px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: -4.5px;
                    width: 0;
                    height: 0;
                    border-top: 10px solid $black;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                }
            }

            &::after {
                content: "";
                display: block;
                width: 100px;
                height: 100px;
                position: absolute;
                top: 50%;
                left: -49.5px;
                background: url(../images/top/loading-icon-sp.png) center center / cover;
                animation: rotation 6s linear infinite;

                @include pc {
                    width: 120px;
                    height: 120px;
                    top: 75%;
                    left: -60px;
                    background: url(../images/top/loading-icon-pc01.png) center center / cover;
                }
            }

        }

        &__txtbox {
            font-size: 14px;
            font-weight: 700;
            line-height: 2;

            @include tab {
                margin-bottom: 80px;
                font-size: 22px;
                font-weight: 900;
                letter-spacing: 0.2em;
            }

            @include pc {
                margin-bottom: 0;
                font-size: 28px;
            }

            @include macpc {
                font-size: 34px;
            }
        }

        &__txt {
            margin-bottom: 40px;
            color: transparent;
            background: linear-gradient(90deg, $black, $black, transparent, transparent);
            background-position: 100% 0%;
            background-size: 300% 100%;
            -webkit-background-clip: text;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .works {
        @include secstyle;

        @include tab {
            padding: 80px;
        }

        @include pc {
            padding: 160px;
        }

        @include pc-large {
            padding: 0 160px;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        &__scroll-wrapper {

            @include pc-large {
                position: relative;
                width: 100%;
                height: 100vh;
            }
        }

        &__scroll-list {
            list-style-type: none;

            @include pc-large {
                height: calc(80%);
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                display: flex;
            }
        }

        &__scroll-head {

            @include pc-large {
                width: 520px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        &__ttl {
            @include ttlstyle($white);

            @include tab {
                margin-bottom: 10px;
            }
        }

        &__ttl-jp {
            @include ttl-jpstyle($white);
            margin-bottom: 60px;
        }

        &__txt {
            margin-bottom: 60px;
            font-size: 14px;
            line-height: 2;

            @include tab {
                margin-bottom: 80px;
                font-size: 18px;
            }

            @include pc-large {
                margin-bottom: 0;
            }
        }

        &__btn {
            background: $white;
            text-align: center;
            position: relative;

            & span {
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
                position: absolute;
                top: 50%;
                right: 30px;
                width: 60px;
                height: 1px;
                background: $black;

                @include tab {
                    width: 60px;
                    right: 64px;
                }

                &::after {
                    content: "";
                    display: block;
                    height: 0;
                    width: 0;
                    position: absolute;
                    right: 0;
                    top: -4px;
                    border-right: 8px solid transparent;
                    border-bottom: 4px solid $black;
                }
            }

        }

        &__link {
            display: block;
            padding: 17px;
            color: $black;
            font-family: $roboto;
            font-weight: 400;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
                background: $gray;
            }

            @include tab {
                padding: 37px;
            }
        }

        &__scroll-item {
            position: relative;
            margin-bottom: 60%;            

            @include tab {
                margin-bottom: 50%;
            }

            @include pc-large {

                @include flex-center;
                margin: auto;
                width: 1000px;
                height: 100%;
                font-size: 32px;
            }
        }

        &__scroll-item:last-child {
            margin-bottom: 160px;

            @include tab {
                margin-bottom: 180px;
            }

            @include pc-large {
                margin: auto;
            }

        }

        &__scroll-link {
            display: block;
            height: 100%;
        }

        &__scroll-pic {

            @include pc-large {
                height: 100%;
            }
        }

        &__scroll-img {
            @include img;
            transition: 0.3s;

            @include pc-large {
                filter: saturate(0%);

                &:hover {
                    filter: saturate(100%);
                }
            }
        }

        &__scroll-txtbox {
            width: 100%;
            padding-left: 20px;
            position: absolute;
            top: 60%;
            left: 0;
            border-left: 1px solid $white;

            @include sp-large {
                top: 70%;
            }

            @include tab {
                padding-left: 40px;
                border-left: 2px solid $white;
            }

            @include pc-large {
                position: static;
                width: 40%;
                padding-left: 80px;
                top: 0;
                border-left: 0;
            }
        }

        &__scroll-num {
            font-size: 40px;
            font-family: $roboto;
            margin-bottom: 40px;

            @include tab {
                font-size: 80px;
                margin-bottom: 80px;
            }

            @include pc-large {
                position: relative;

                &::before {
                    content: "";
                    display: block;
                    width: 100px;
                    height: 2px;
                    background: $white;
                    position: absolute;
                    top: 50%;
                    left: -40%;
                }
            }
        }

        &__scroll-dl {

            dt {
                font-size: 20px;
                margin-bottom: 30px;

                @include tab {
                    font-size: 24px;
                }
                
                &.update{
                    position: relative;
                }
            }

            dt.update::after {
                @include update;
            }

            dt:first-child+dd {
                font-size: 16px;
                margin-bottom: 5px;

                @include tab {
                    font-size: 18px;
                    margin-bottom: 10px;
                }
            }

            dd:last-child {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.5;
            }
        }

        &__scroll-tail {
            padding-top: 60px;

            @include tab {
                padding-top: 0;
            }

            @include pc-large {
                width: 520px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    .looptxt {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        overflow: hidden;

        &__marquee {
            margin-bottom: 24px;
            display: flex;
            white-space: nowrap;
            gap: 14px;
            font-size: 18px;

            @include tab {
                font-size: 18px;
            }

            @include pc {
                margin-bottom: 36px;
                font-size: 36px;
            }
        }

        &__marquee-inner {
            animation: marquee 25s linear infinite;
            display: flex;
            align-items: center;
        }

        &__marquee-img01 {
            margin: 0 10px;
            display: inline-block;
            width: 100px;
            height: 32px;
            background: url(../images/top/img10-sp.jpg) center center / cover;

            @include pc {
                margin: 0 20px;
                width: 200px;
                height: 64px;
            }
        }

        &__marquee-img02 {
            @extend .looptxt__marquee-img01;
            background: url(../images/top/img11-sp.jpg) center center / cover;
        }

        &__marquee-img03 {
            @extend .looptxt__marquee-img01;
            background: url(../images/top/img12-sp.jpg) center center / cover;
        }

        &__marquee-img04 {
            @extend .looptxt__marquee-img01;
            background: url(../images/top/img13-sp.jpg) center center / cover;
        }

        &__marquee-img05 {
            @extend .looptxt__marquee-img01;
            background: url(../images/top/img14-sp.jpg) center center / cover;
        }

        &__marquee-img06 {
            @extend .looptxt__marquee-img01;
            background: url(../images/top/img15-sp.jpg) center center / cover;
        }

        &__marquee-img07 {
            @extend .looptxt__marquee-img01;
            background: url(../images/top/img16-sp.jpg) center center / cover;
        }

        &__marquee-graycolor {
            color: $gray;
        }

    }

    .skill {
        @include secstyle;

        @include tab {
            padding: 80px;
        }

        @include pc {
            padding: 160px 160px 240px;
        }

        &__box {
            @include pc {
                display: flex;
                justify-content: space-between;
            }
        }

        &__ttl {
            @include ttlstyle($white);

            @include tab {
                margin-bottom: 10px;
            }
        }

        &__ttl-jp {
            @include ttl-jpstyle($white);
        }

        &__txt {
            margin-bottom: 60px;
            padding-bottom: 60px;
            position: relative;
            font-size: 14px;
            line-height: 2;
            border-bottom: 1px solid $white;

            @include pc {
                width: 60%;
            }
        }

        &__skillbox {

            @include pc {
                display: flex;
                justify-content: space-between;
            }
        }

        &__filter {
            width: 85%;
            padding-bottom: 60px;
            margin: 0 auto;
            font-family: $roboto;
            text-align: right;
            display: flex;
            justify-content: space-between;

            @include tab {
                width: 100%;
            }

            @include pc {
                margin: 0;
                width: 100px;
                display: block;
                text-align: left;
            }

            & li {
                margin-right: 5px;
                cursor: pointer;
                list-style-type: none;
                font-size: 14px;
                font-weight: 600;

                &:last-child {
                    margin-right: 0;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    width: 0%;
                    height: 2px;
                    background: $white;
                    transition: all 0.4s;
                }

                @include tab {
                    font-size: 20px;
                }

                @include pc {
                    margin-right: 0px;
                    margin-bottom: 40px;
                }
            }

            & .is-active {
                transform-origin: center bottom;
                transform: scale(1.28);
                transition: 0.4s;

                &::after {
                    width: 100%;
                }

                @include tab {
                    transform: scale(1.5);
                }

                @include pc {
                    transform-origin: left center;
                }
            }
        }

        &__category {
            width: 85%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: flex-start;
            gap: 12%;

            @include tab {
                width: 100%;
                gap: 8%;
            }

            @include pc {
                width: 60%;
                margin: 0 0 0 auto;
            }

            & li {
                list-style-type: none;
                margin-bottom: 12%;
                display: none;
                font-family: $roboto;
                font-size: 12px;
                text-align: center;

                &.two-lines {
                    padding-top: 14px;
                }

                @include tab {
                    margin-bottom: 8%;
                }

                @include pc {
                    margin-bottom: 0;
                }
            }

            & li.is-show {
                display: block;
                width: 25.3%;

                @include tab {
                    width: 13.6%;
                }

                @include macpc {
                    width: 10%;
                }
            }
        }

        &__name {
            margin-top: 12px;
            line-height: 1.1;

            @include tab {
                margin-top: 14px;
            }
        }

        &__img {
            @include img;
        }
    }

    .profile {
        @include secstyle($black, $white);

        @include tab {
            padding: 80px;
        }

        @include pc {
            padding: 160px;
        }

        &__ttl {
            @include ttlstyle;

            @include tab {
                margin-bottom: 10px;
            }
        }

        &__ttl-jp {
            @include ttl-jpstyle;
            margin-bottom: 80px;
        }

        &__wrap {
            display: flex;
            flex-direction: column-reverse;

            @include tab {
                flex-direction: row;
            }
        }

        &__txtbox {
            width: 300px;

            @include pc {
                width: 700px;
            }
        }

        &__name {
            font-size: 24px;
            font-family: $roboto;
            margin-bottom: 12px;

            @include tab {
                font-size: 32px;
            }
        }

        &__name-jp {
            font-size: 15px;
            margin-bottom: 60px;

            @include tab {
                font-size: 20px;
            }

            @include pc {
                margin-bottom: 120px;
            }
        }

        &__txt {
            font-size: 14px;
            line-height: 2;

            @include pc {
                font-size: 16px;
            }
        }

        &__pic {
            width: 200px;
            height: 280px;
            margin: 0 0 0 auto;
            margin-bottom: 60px;
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 100px;
                height: 100px;
                position: absolute;
                top: -17%;
                left: -49.5px;
                background: url(../images/top/loading-icon-sp.png) center center / cover;
                animation: rotation 10s linear infinite;

                @include pc {
                    width: 250px;
                    height: 250px;
                    top: -20%;
                    left: -25%;
                    background: url(../images/top/loading-icon-pc02.png) center center / cover;
                }
            }

            @include tab {
                margin-bottom: 0;
                align-self: flex-end
            }

            @include pc {
                width: 500px;
                height: 640px;
            }
        }

        &__img {
            @include img;
        }
    }

    .message {
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &__txt {
            font-family: $roboto;
            font-size: 40px;
            margin-bottom: 20px;

            @include tab {
                font-size: 80px;
            }

            @include macpc {
                padding: 0 160px;
                font-size: 180px;
            }

            & span {
                font-family: $EBGaramond;
                color: white;
            }

        }

        &__sub {
            font-size: 20px;
            text-align: center;

            @include tab {
                font-size: 30px;
            }

            @include pc {
                font-size: 34px;
            }
        }

        &__bg {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
            width: 10%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $gray;
        }
    }

    .contact {
        @include secstyle;

        @include tab {
            padding: 80px;
        }

        @include pc {
            padding: 160px;
        }

        &__ttlbox {
            @include pc {
                margin: 0 auto;
                max-width: 960px;
            }
        }

        &__ttl {
            @include ttlstyle($white);
            text-align: center;

            @include tab {
                margin-bottom: 10px;
            }
        }

        &__ttl-jp {
            @include ttl-jpstyle($white);
            text-align: center;
        }

        &__txt {
            font-size: 14px;
            line-height: 2;
            text-align: center;
            padding-bottom: 60px;
            margin-bottom: 60px;
            border-bottom: 1px solid $white;

            @include tab {
                padding-bottom: 80px;
                margin-bottom: 80px;
                font-size: 18px;
            }
        }

        &__item {
            text-align-last: left;
        }

    }

    .form {
        max-width: 500px;

        @include tab {
            max-width: 800px;
        }

        @include pc {
            margin: 0 auto;
            max-width: 960px;
        }

        &__box {
            padding-left: 20px;
            margin: 0 0 0 auto;
            margin-bottom: 24px;
            position: relative;
            border-left: 2px solid $white;

            @include tab {
                display: flex;
                justify-content: space-between;
            }

            @include pc {
                border-left: 4px solid $white;
            }


            &:last-child {
                margin-bottom: 0;
                text-align: right;

                @include tab {
                    margin-top: 50px;
                }

                @include pc {
                    margin-top: 100px;
                }

                & span {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 1;
                    position: absolute;
                    top: 68%;
                    right: 20px;
                    width: 40px;
                    height: 1px;
                    background: $black;

                    @include tab {
                        top: 50%;
                        right: 30px;
                        width: 60px;
                    }

                    @include pc {
                        right: 64px;
                    }

                    &::after {
                        content: "";
                        display: block;
                        height: 0;
                        width: 0;
                        position: absolute;
                        right: 0;
                        top: -4px;
                        border-right: 8px solid transparent;
                        border-bottom: 4px solid $black;
                    }
                }
            }
        }

        &__label {
            display: flex;
            justify-content: space-between;
            padding-bottom: 16px;

            @include tab {
                display: block;
                padding-bottom: 0;
            }

            @include pc {
                font-size: 20px;
            }

            & span {
                font-family: $roboto;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0.2em;

                @include tab {
                    display: block;
                    margin-top: 5px;
                }

                @include pc {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }

        &__input {
            width: 100%;
            padding: 20px 10px;
            background: $inputarea;
            border: none;
            font-size: 16px;
            font-family: $JP;
            letter-spacing: 0.2em;

            @include tab {
                width: 70%;
            }
        }

        &__message {
            width: 100%;
            height: 300px;
            padding: 20px;
            background: $inputarea;
            border: none;
            font-size: 16px;
            font-family: $JP;
            letter-spacing: 0.2em;

            @include tab {
                width: 70%;
            }
        }

        &__submit {
            width: 200px;
            padding: 17px 10px;
            background: $white;
            color: $black;
            border: none;
            font-size: 16px;
            font-family: $roboto;
            letter-spacing: 0.2em;
            cursor: pointer;
            -webkit-appearance: none;
            transition: 0.3s;

            &:hover {
                background: $gray;
            }

            @include tab {
                width: 300px;
                padding: 37px 10px;
            }

            @include pc {
                width: 480px;
            }
        }

        &__sendtxt {
            font-size: 16px;
        }
    }

}