//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;

.footer {
    padding: 160px 0 90px;
    display: flex;
    justify-content: start;
    background-color: $pale-blue;
    position: relative;

    &__ttl {
        margin-left: 160px;
        width: 320px;
    }

    &__logo {
        display: block;
        object-fit: cover;
    }

    &__box {
        padding-left: 80px;
        border-left: 1px solid $blue;
    }

    &__bottombox {
        display: flex;
    }

    &__link--01 {
        display: block;
        width: 50px;
        height: 50px;
        background: url(../../images/fb-icon.png) center center / cover;
    }

    &__link--02 {
        display: block;
        width: 50px;
        height: 50px;
        background: url(../../images/insta-icon.png) center center / cover;
        margin-left: 30px;
    }


    &__btn {
        position: absolute;
        bottom: 0;
        right: 160px;
        z-index: 2;
        background: $white;
    }

    &__totop {
        display: block;
        padding-top: 18px;
        width: 160px;
        height: 240px;
        position: relative;
        background: #fff;
        text-decoration: none;
        font-family: $EN;
        letter-spacing: 0.2em;
        display: flex;
        justify-content: center;
        z-index: 2;

        &::before {
            content: "";
            display: block;
            height: 30px;
            width: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            border-top: 3px solid $blue;
            border-right: 3px solid $blue;
            transform: translateY(-80%) translateX(-50%) rotate(-45deg);
        }
    }

    &__copy {
        position: absolute;
        bottom: 90px;
        left: 50%;
        font-family: $EN;
        letter-spacing: 0.2em;
        text-align: center;
        transform: translateX(-50%);
    }
}