//各ファイルは必ず登録済みの変数を最初に読み込みます
//as *で読み込みファイル名を省略することができます
@use "../global" as *;


.changeWhite {
    color: $white;
    background: #f00;
    transition: all 0.1s;
}

.is-hide {
    opacity: 0;
    transform: translateY(-50px);
}

.rotate-top {
    transform: rotate(45deg);
}

.hide-middle {
    opacity: 0;
}

.rotate-bottom {
    transform: rotate(-45deg);
}

.gnav-active {
    opacity: 1;
    pointer-events: auto;
}

.gnav__nav-active {
    transform: translateY(0);
    padding-top: 80px;
    opacity: 1;

    @include tab {
        padding-top: 130px;
    }

    @include pc {
        padding-top: 80px;
    }
}



// .menu-open {
//     height: 100%;
//     position: fixed;
//     top: 0;
//     left: 0;
//     overflow: hidden;
// }