// settingフォルダの変数を読み込みます

@use "../setting" as *;

@mixin secstyle($color: $white, $bgcolor: $black) {
  padding: 80px 20px;
  width: 100%;
  background: $bgcolor;
  color: $color;
}

@mixin ttlstyle($color: $black) {
  font-family: $roboto;
  font-size: 24px;
  margin-bottom: 4px;
  color: $color;
}

@mixin ttl-jpstyle($color: $black) {
  font-size: 16px;
  margin-bottom: 50px;
  color: $color;
}

//バーガーボタン
@mixin btn($translate: 0) {
  width: 40%;
  height: 1px;
  background: #fff;
  position: absolute;
  transition: .5s;
  transform: translateY($translate);
}

// display: flex;を利用した上下左右中央寄せ
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// img画像設定
@mixin img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// メディアクエリ
// ---タブレット
@mixin tab($min-width: 768px) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

// ---PC
@mixin pc($min-width: 1024px) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}
